input[type="checkbox"] {
  cursor: pointer;
  outline: none;
}

.ingredientapp {
  background: #fff;
  margin-top: 15px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 450px;
}

.ingredient-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.ingredient-list li:last-child {
  border-bottom: none;
}

.ingredient-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.ingredient-list li .toggle:after {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iLTEwIC0xOCAxMDAgMTM1Ij48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZWRlZGVkIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=');
}

.ingredient-list li .toggle:checked:after {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iLTEwIC0xOCAxMDAgMTM1Ij48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzkzZDNkIiBzdHJva2Utd2lkdGg9IjMiLz48cGF0aCBmaWxsPSIjQkVDQzI5IiBkPSJNNzIgMjVMNDIgNzEgMjcgNTZsLTQgNCAyMCAyMCAzNC01MnoiLz48L3N2Zz4=');
}

.ingredient-list li label {
  padding: 13px;
  margin: 0 0 0 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.ingredient-list li.completed label {
  color: #8C8E90;
  text-decoration: line-through;
}
